.title {
    margin-top: 9px !important;
    margin-left:6px !important;
}

.MuiSvgIcon-root {
    color: rgb(82,82, 82);
}

#shaw {
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 5px 3px 5px #aaaaaa;
}



